print("30 days 30hour challenge")
print("30 days 30hour challenge")
#Assigning string to variable:

Hours="thirty"
print(Hours)
#Indexing using string:
Days="Five days"
print(Days[1])

challenge="I will win"
print(challenge[7:10])
#print the length of characters:

challenge="I will win"
print(len(challenge))

#convert the string into lower character

challenge="I will win"
print(challenge.lower())
#String concatenation-Joingtwo string
a="30Days"
b="30hours"
c=a+b
print(c)

#Adding space during concatenatination
a="30 Days"
b="30 hours"
